.shop-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7rem;
    color: white;
    padding-top: 10rem;

}
.nothing-yet{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: white;
}

.shop-continer{
   background-color: black;
   height: 100vh;
   width: 100vw;
}
